
    <h1>readme.txt</h1>
        <div class="container">
			<p>An unlocked workstations is a security vulnerability. Locked workstations prevent snooping, unauthorized access to secure data, and getting Hasslehoffed.</p>
			<p>When you find an unlocked workstation, enter your "handle" on the Home page. Your handle will be recorded on the scoreboard. Top hackers will be noted and celebrated for their 1337 skillz.</p><br><br><br>
			<p>dis you</p>
			<img src="https://media.giphy.com/media/YQitE4YNQNahy/giphy.gif" style="width:450px;height:225px">
			<img src="https://media.giphy.com/media/TOWeGr70V2R1K/giphy.gif">
			<img src="https://media.giphy.com/media/FnGJfc18tDDHy/giphy.gif" style="width:480px;height:225px">
			

		</div>
